<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome to this site</title>
	</head>
	{{>header}}
	<body>
		<p>So, theres nothing of interest here, move along, go back to {{getRandomYear}}</p>
		<p>Maybe those links'll interest you</p>
	</body>

	{{> footer}}
	<!--<footer>
		<p>You, {{mean_name}}, since {{year}}</p>
	</footer>-->
</html>