<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

{{>header}}

<body>
	<h1>
		Info bout Glenn Parale
	</h1>
	<div id="boxone">
		Education:<br>
		British Columbia Institute of Technology<br>

		Technical Skills:<br>
		Blender 3D<br>
		Web Dev Tools<br>
		Python<br>
	</div>
	<div id="boxtwo">
		Some useless info:<br>
		I was born in the Phillipines<br>
		I'm the only person in my family who hasn't left North America for a vacation.<br>

	</div>
	<div>
		Ohhh, yeah, here's an image of a dog<br>
		<img src={{img_source}} alt="A dog">

	</div>
</body>

{{>footer}}

</html>