#center{
	position:fixed;
	top:0px;
	left:0px;
	width:600px;
	height:400px;
	margin: auto;
	background-image: null;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color:rgba(50,100,100,0.5);
}
#background{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(https://images2.alphacoders.com/801/80110.jpg);
	background-size: cover;
}
#left_button{
	width:50px;
	height:50px;
	background-color:rgba(50,100,100,0.5);
	position:absolute;
	top:43%;
	left:-75px;
	
}

#right_button{
	width:50px;
	height:50px;
	background-color:rgba(50,100,100,0.5);
	position:absolute;
	top:43%;
	right:-75px;
}

#up_button{
	width:50px;
	height:50px;
	background-color:rgba(50,100,100,0.5);
	position:absolute;
	left:45%;
	top:-75px;
	
}

#down_button{
	width:50px;
	height:50px;
	background-color:rgba(50,100,100,0.5);
	position:absolute;
	left:45%;
	bottom:-75px;
}
